* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    height: 100vh;
}

.rowIcon {
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.rowIcon:hover {
    color: #ff5757;
}

#deleteModalContent {
    white-space: pre;
}